{% load static %}
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-129681391-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-129681391-1');
	</script>

	<title>Instituto de Estudos Climáticos do Espírito Santo</title>
	<meta name="description" content="Plataforma do Instituto de Estudos Climáticos do Espírito Santo.">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'home/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/typography.css' %}">
  <link href="{% static 'home/css/landingpage.css' %}" rel="stylesheet">
  <link href="css/small-business.css" rel="stylesheet">
  <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
 
</head>

	<body class="landing">
		<header id="header" class="alt">
      <h1>IEC-ES</h1>

      <nav id="nav">
        <ul>
            <li><a href="{% url 'home:index' %}">Home</a></li>
            <li><a href="{% url 'vismet:vismet' %}">Plataforma</a></li>
        </ul>
      </nav>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<section id="banner">
			<div class="centered">
        <div class="strokeme" style="font-size: 130%;">
          <h2>
            Plataforma de dados Ambientais <br> do Instituto de Estudos <br> Climáticos do Espírito Santo
          </h2>
        </div>
      </div>

			<section id="section_scrolldown" class="scrolldown">
		      <a href="#fo"><span></span></a>
			</section>
		</section><br><br>

    <div class="card text-white bg-secondary my-5 py-4 text-justify">
      <div class="card-body">
        <p class="text-white m-0"><b id="introtext">Caro (a) usuário (a), seja bem-vindo (a) ao Banco de dados Ambientais do Instituto de Estudos Climáticos (IEC).</b><br><br>O IEC, foi criado a partir de uma parceria entre o setor privado (VALE), a UFES e a FAPES com o objetivo de estimular a formação e qualificação de pesquisadores nas temáticas de mudanças climáticas e de integrar competências entre academia e setor produtivo. Entre as várias ações do instituto, uma delas é, contribuir com pesquisas e informações, que envolvam o tempo e o clima em suas temáticas, para as mais diversas áreas como: Ciências Atmosféricas, Geografia, Engenharias, Biologia, Geologia, Saúde, Gestão Pública, Energia, Transportes, entre outras. 

        Uma das formas almejadas pelo IEC, para contribuir com as pesquisas e as informações necessárias para interesse específico, foi disponibilizar a Plataforma de dados Ambientais (PDA), de alta qualidade, para a população Capixaba e para todo o país e até mesmo no exterior. Nela os pesquisadores e a sociedade civil poderão encontrar, gratuitamente, vários dados.

        O conjunto de dados disponibilizados na PDA/IEC é uma compilação das informações de diversas outras plataformas do Brasil e no Mundo e estão disponibilizadas da seguinte forma: Dados Observacionais, Dados de Reanálise, Dados Simulados, Dados de Satélite, Dados de uso e cobertura da terra entre outros, em várias escalas temporais.

        Na PDA/IEC, o usuário poderá acessar as informações e realizar suas consultas por meio do <a class="portal" href="plataforma">Portal do Mapa</a> interativo, utilizando o navegador que melhor lhe convir. O usuário, também, poderá interagir de forma lúdica e simples com a interface gráfica, onde no menu, será possível verificar todas as funcionalidades do sistema, não necessitando de nenhum conhecimento apurado para realizar a consulta desejada.

        A PDA/IEC entra em operação no dia 30/10/2020 e estará e constante atualização dos dados para melhor atender o usuário. Mais detalhes sobre a Plataforma de Dados Ambientais do IEC podem ser obtidas <a class="portal" href="">neste documento</a>.</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row" ali>
      {% for cat in categories %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">{{ cat.display_name }}</h2>
            <p class="card-text">{{ cat.desc }}</p>
            <form class="" action="{% url 'vismet:vismet' %}" method="post">
              {% csrf_token %}
              {% for src_data in cat.sources.all %}
                <button class="button" type="submit" name="selected_source" value="{{ cat.name }};{{ src_data.name }}">{{ src_data.display_name }}</button><div hidden class="help-tip"><p>Fonte: <a href="{{ subsource.url }}">{{ subsource.url }}</a></p></div><br>
                <ul>
                {% for subsource in src_data.subsources.all %}
                  <li>{{ subsource.display_name }}</li>
                    <ul>
                      {% for detail in subsource.details.all %}
                        <li>{{ detail.text }}</li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </ul>
              {% endfor %}
            </form>
          </div>
          <div class="card-footer">
            <!--<a href="plataforma" class="btn btn-primary btn-sm">Plataforma</a>-->
            <a href="plataforma" class="button">Plataforma</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

		<footer id="footer" align="middle">
      <a class="anchor" id="fo"></a>
      	<link rel="stylesheet" href="{% static 'home/css/fontawesome_all.css' %}">
      	<link rel="stylesheet" href="{% static 'home/css/academicons.min.css' %}">
      	<div class="container">
      		<ul class="copyright">
      			<li>
      				Design by<br>
      				Daniel Viviroli<br>
      				CC BY-NC-SA<br>
      				<br>
      				<a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
      					<i class="fab fa-creative-commons fa-lg"></i>
      					<i class="fab fa-creative-commons-by fa-lg"></i>
      					<i class="fab fa-creative-commons-nc fa-lg"></i>
      					<i class="fab fa-creative-commons-sa fa-lg"></i>
      				</a>
      			</li>
      			<li style="text-align:left">
      				  <i class="fas fa-home fa-sm"></i>
      					<a target="_blank" rel="noopener noreferrer" href="http://impactoclima.ufes.br">IEC-UFES</a>
      					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
      					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
      					<br>Universidade Federal do Espírito Santo
      					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
      					<br>Av. Fernando Ferrari, 514
      					<br>Goiabeiras, Vitória - ES | CEP 29075-910
      					<i class="fas fa-home fa-sm" style="opacity:0.0"></i>
      					<br>Brazil
      			</li>
      			<li style="text-align:left">
      					<a target="_blank" rel="noopener noreferrer" href="mailto:clima.ufes@gmail.com"><i class="far fa-envelope fa-sm"></i> email</a><br>
      					<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/katarenamatos"><i class="fab fa-twitter fa-am"></i> @impactoclima</a><br>
      					<br>
      					<br>
      					<br>
      			</li>
      		</ul>
      	</div>
  </footer>

		<script src="{% static 'home/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/js/scroll.js' %}"></script>
		<script src="{% static 'home/js/skel.min.js' %}"></script>
		<script src="{% static 'home/js/util.js' %}"></script>
		<script src="{% static 'home/js/main.js' %}"></script>
</body>
</html>
