<!doctype html>
<html lang = "pt-br">
   <head>
      <meta charset = "utf-8">
      <title>Pereba no cu redondo das pessoas que tem doença</title>
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <!-- Javascript -->
<script type="text/javascript">
$(function () {
 $("#startDate").datepicker({
   showOn: 'focus',
   dateFormat: 'dd/mm/yy',
   dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
   dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
   dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
   monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
   monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
   nextText: 'Próximo',
   prevText: 'Anterior',
   minDate: new Date( 2018, 0, 1),
   maxDate: '-1d'
 });
});
</script>

   </head>

   <body>
      <!-- HTML -->
      <p>Data: <input id="startDate" type="text" name="startDate" /></p>
   </body>
</html>
