{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Instituto de Estudos Climáticos do Espírito Santo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="{% static 'vismet/libs/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'vismet/css/main.css' %}">

    <style>
      .sidenav {
        height: 100%;
        width: 120px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ededed;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        font-family: Futura;
        padding: 6px 8px 6px 6px;
        text-decoration: none;
        font-size: 21px;
        color: #454545;
        display: block;
        text-align: center;
      }

      .sidenav a:hover {
        color: #242424;
        /*background-color: #dbdbdb;*/
      }


      .main {
        margin-left: 120px; /* Same as the width of the sidenav */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    </style>

  </head>
  <body>
    <div class="sidenav">
      <a id="estacoesxavier" href="#">Estações<br>Históricas<hr></a>
      <a id="satelitereanalise" href="#">Satélite e<br>Reanálise<hr></a>
      <a id="cenariosfuturos" href="#">Cenários<br>Futuros</a>
<!--  <a href="#sobre-bar">Sobre</a> -->


    </div>

    <script>
      document.getElementById("estacoesxavier").addEventListener("click", displayXavier);
      document.getElementById("satelitereanalise").addEventListener("click", displaySatelite);
      document.getElementById("cenariosfuturos").addEventListener("click", displayFuturo);

      var XavierIsOn = false;

      function displayXavier() {
        if(XavierIsOn){
          map.removeLayer(xaviewrWeatherStation);
          XavierIsOn = false;
        }
        else{
          map.addLayer(xaviewrWeatherStation);
          XavierIsOn = true;
        }
      }

      function displayFuturo() {
      }

      function displaySatelite() {
      }
    </script>

    <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" id="sidebar">
          <h1><a href="{% url 'home:index' %}">IEC-ES</a></h1>
          <h3>Por estação:</h3>
          <form action="" method="get">
            {% csrf_token %}
            <label for="variable">Variável:</label>
            <select id="variable" name="variable">
              <option value="evapo">Evapotranspiração</option>
              <option value="relHum">Umidade Relativa</option>
              <option value="solarRad">Radiação Solar</option>
              <option value="maxTemp">Temperatura Máxima</option>
              <option value="minTemp">Temperatura Mínima</option>
              <option value="windSpeed">Velocidade do Vento</option>
            </select>
            <input type="hidden" name="ommcode" value="0" id="input_ommcode">
            <label for="startDate">Data inicial:</label>
            <input type="text" id="startDate" name="startDate">
            <label for="finalDate">Data final:</label>
            <input type="text" id="finalDate" name="finalDate">

            <button type="button" id="btn_submit" value="vai">OK</button>
            <button type="button" id="btn_download" name="btn_download">Download</button>
          </form>
          <br>


          <h3>Por município:</h3>
          <form class="" action="" method="get">
            <input type="hidden" value="0" id="city_name">
            <label for="city_startDate">Data inicial:</label>
            <input type="text" id="city_startDate" name="city_startDate">
            <label for="city_finalDate">Data final:</label>
            <input type="text" id="city_finalDate" name="city_finalDate">
            <button type="button" id="btn_city" value="vai">OK</button>
          </form>
          <br>

          <h3>Por pixel:</h3>
          <form class="" action="" method="get">
            <input type="hidden" value="0" id="pixel_id">
            <label for="pixel_startDate">Data inicial:</label>
            <input type="text" id="pixel_startDate" name="pixel_startDate">
            <label for="pixel_finalDate">Data final:</label>
            <input type="text" id="pixel_finalDate" name="pixel_finalDate">
            <button type="button" id="btn_pixel" value="vai">OK</button>
          </form>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div id="map"></div>
          </div>
          <div class="row">
            <canvas id="chart" height="65"></canvas>
          </div>
        </div>
      </div>

    <input type="hidden"  id="xavier-station-geojson" value="{% url 'vismet:xavier_stations' %}">
    <input type="hidden" id="pixels-geojson" value="{% url 'vismet:pixels' %}">
    <input type="hidden" id="cities-geojson" value="{% url 'vismet:cities' %}">
    </div></div>

    <!-- CDNs das bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="{% static 'vismet/libs/leaflet/leaflet.js' %}"></script>

    <!-- JS próprios da plataforma  -->
    <script src="{% static 'vismet/js/chart.js' %}"></script>
    <script src="{% static 'vismet/js/map.js' %}"></script>
    <script src="{% static 'vismet/js/xavier-stations.js' %}"></script>
    <script src="{% static 'vismet/js/cities.js' %}"></script>
    <script src="{% static 'vismet/js/pixels.js' %}"></script>

    <script type="text/javascript">
      var url_api_xavierstation = "{% url 'vismet:xavier_stations' %}";
    </script>

    <script type="text/javascript">

    function pegaData(id) {
     $("#" + id).datepicker({
       showOn: 'focus',
       dateFormat: 'dd/mm/yy',
       dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
       dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
       dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
       defaultDate: new Date(1980, 0, 1),
       monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
       monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
       nextText: 'Próximo',
       prevText: 'Anterior',
       minDate: new Date(1980, 0, 1),
       maxDate: '-1d',
       changeYear: true,
       changeMonth: true,
     });
   }

   var startDate = $("#startDate")[0];
   var finalDate = $("#finalDate")[0];
   var city_startDate = $("#city_startDate")[0];
   var city_finalDate = $("#city_finalDate")[0];
   var pixel_startDate = $("#pixel_startDate")[0];
   var pixel_finalDate = $("#pixel_finalDate")[0];

   startDate.onfocus = function(){ pegaData(this.id); };
   finalDate.onfocus = function(){ pegaData(this.id); };
   city_startDate.onfocus = function(){ pegaData(this.id); };
   city_finalDate.onfocus = function(){ pegaData(this.id); };
   pixel_startDate.onfocus = function(){ pegaData(this.id); };
   pixel_finalDate.onfocus = function(){ pegaData(this.id); };



    </script>
  </body>
</html>
