html, body {
  height: 100%;
  background-color: #E1EAFF;
  min-height: 800px;
}

.main {
  height: 100%;
}

.conteudo {
  height: 80%;
}


#sidebar{
  margin-top: 10px;
}

#sidebar h1{
  font-size: 30px;
  text-align: center;
}

#sidebar a{
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F8F0C6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  font-family: Futura;
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 19px;
  color: #454545;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  color: #242424;
  /*background-color: #dbdbdb;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.w3-bar-item {
  display: inline-block;
}

#linkplataforma{
  position: absolute;
  background-color: #E1EAFF !important;
}

#btn_download{
  margin-left: 4px;
}

#map { 
  grid-area: right;
}

input[type=text] {
  width: 120px;
  padding: 2px 3px;
  margin: 8px 0;
  box-sizing: border-box;
}
  input[type=text]:focus {
  background-color: #e6e6e6;
}
select{
  padding: 2px 3px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  border: 1px solid #303030;
  background-color: #ffffff;
  color: #242424;
  padding: 3px 8px;

}

button:hover {
  border: 1px solid #303030;
  background-color: #e3dcdc;
  color: #030303;
  padding: 3px 8px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.help-tip{position:absolute;top:18px;right:18px;text-align:center;background-color:#ffc299;border-radius:50%;width:24px;height:24px;font-size:15px;line-height:26px;cursor:default}.help-tip:before{content:'?';font-weight:700;color:#fff}.help-tip:hover p{display:block;transform-origin:100% 0;-webkit-animation:fadeIn .3s ease-in-out;animation:fadeIn .3s ease-in-out}.help-tip p{display:none;text-align:left;background-color:#1e2021;padding:20px;width:300px;position:absolute;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,.2);right:-4px;color:#fff;font-size:14px;line-height:1.4}.help-tip p:before{position:absolute;content:'';width:0;height:0;border:6px solid transparent;border-bottom-color:#1e2021;right:10px;top:-12px}.help-tip p:after{width:100%;height:40px;content:'';position:absolute;top:-40px;left:0}@-webkit-keyframes fadeIn{0%{opacity:0;transform:scale(.6)}100%{opacity:100%;transform:scale(1)}}@keyframes fadeIn{0%{opacity:0}100%{opacity:100%}}


.dateinput {
  position: relative;
  display: block;
}

.sel-data-model, .sel-data-variable, .sel-data-source {
  width: max-content !important;
  max-height: max-content;
  /* max-width: 370px !important; */
  width: 100% !important;
}

/*body{background:#f2f2f2}.selectdiv{position:relative;float:left;min-width:200px;margin:50px 33%}select::-ms-expand{display:none}.selectdiv:after{content:'<>';font:17px "Consolas",monospace;color:#333;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);right:11px;top:18px;padding:0 0 2px;border-bottom:1px solid #999;position:absolute;pointer-events:none}.selectdiv select{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block;width:100%;max-width:320px;height:50px;float:right;margin:5px 0;padding:0 24px;font-size:16px;line-height:1.75;color:#333;background-color:#fff;background-image:none;border:1px solid #ccc;-ms-word-break:normal;word-break:normal}
*/

label {
  line-height:2px;
}

.alert {
  margin: 10px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.data-container{
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: grid;
  background-color: #B2C6F9;
  padding: 10px;
  border: 2px #4160AD;
  border-style: double;
}

#data-container{
  border-top-style: none !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

#div-observados, #div-reanálise, #div-simulados {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

#datafinal{
  padding-top: 10px;
}

.data-text{
  padding-left: 10px;
  display: grid;
  background-color: #D6E1FD;
  border: solid #7EA1F8; 
  border-width: 1px;
}

.padded-data-text{
  margin-top: 10px;
  padding-top: 15px !important;
  padding: 10px;
}

#texto-reanalise{
  margin-right: 10px;
}

.chart-container{
  padding: 10px;
  display: none;
  margin: 2px;
  margin-top: 10px;
  background-color: white !important;
  position: relative;
  height: 40%;
}

#chart{
  position: absolute;
  margin: 10px;
  /* overflow: scroll; */
}

#map{
  position: absolute !important;
  height: 100%;
  padding: 0;
  width: 100%;
  border: 1px solid #cfcfcf;
}

#chart_download {
  border: 1px solid #303030;
  background-color: #ffffff;
  color: #242424;
  padding: 6px 8px;
}

#chart_download:hover {
  border: 1px solid #303030;
  background-color: #e3dcdc;
  color: #030303;
  padding: 6px 8px;
}

#chart_download:disabled,
#chart_download[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.conteudo{
  margin-bottom: 10px;
}

#chartdiv{
  border:2px solid #000;
  margin-bottom: 10px;
}