#weiglas{
  background-color: #5c7f8f;
}

#map {
    /* margin-top: 83px; */
    padding: 0;
    width: 100%;
    height: 400px;
    /* min-height: calc(100vh - 75px); */
    border: 1px solid #cfcfcf;

}
